<div class ='background' >
  <h1 style="font: bold; font-weight: bold; font-family: 'Courier New', Courier, monospace;
 font-size: 50px; margin-top: 140px; margin-left: 60px; float: left;
">EHEALTH!</h1>
<button mat-button (click)='routeToAddMember()' style="background-color: black; text-decoration: solid;
 padding: 10px; color:white; font-family:Verdana, Geneva, Tahoma, sans-serif ; margin: 100px; float: right;margin-right: 100px;
 "> + Add Member</button>

</div>
<button mat-button (click)='logout()' style="background-color: black; text-decoration: solid;
 padding: 10px; color:white; font-family:Verdana, Geneva, Tahoma, sans-serif ; margin-left: 40%; margin-top: 10%; padding-left: 20px; padding-right: 20px;
 ">LOGOUT</button>
