.homepage
{
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('C:\Users\kushal\eHealth\src\assets\images\homePage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
