.background_img
{
  top: 0;
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
  height: 100%;
  background-image: url('C:\Users\kushal\eHealth\src\assets\images\register_background_img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.login-page {
  top: 0;
  padding: 0;
  margin-left: 50%;
  float: rigth;
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

mat-card {
  width: 70%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}
